.message-container {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    max-width: 400px;
    z-index: 1000;
}

.message {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
}

.fade-out {
    transition: opacity 1s ease-out;
    opacity: 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .flex-1.text-center {
    text-align: center;
}

nav .flex-1.text-right {
    text-align: right;
}

input[type="text"], input[type="password"], input[type="email"] {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    display: inline-block;
    margin: 0 5px;
}

.container.text-center h2 {
    text-align: center;
}

.custom-file-upload {
    background-color: #3b82f6;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 0.5rem;
}

.custom-file-upload:hover {
    background-color: #1e40af;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.avatar-preview {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 1rem;
}

.modal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: none;
}

.modal-content {
    background-color: white;
    border-radius: 0.375rem;
    padding: 1rem;
    width: 50%;
    max-width: 500px;
}

.modal-header,
.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header .close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-body {
    text-align: center;
}

.modal-body img {
    max-width: 100%;
    height: auto;
    border-radius: 0.375rem;
}

#preview {
    height: 300px;
    width: 300px;
    border-radius: 8px;
    object-fit: cover;
    margin-left: 1rem;