{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto mt-10 max-w-sm">
    <h2 class="text-2xl font-bold mb-6 text-center">Password Changed Successfully</h2>
    <p class="text-center">Your password has been changed successfully. You can now continue using your account.</p>
    <div class="flex items-center justify-center mt-4">
        <a href="{% url 'profile' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Go to Profile
        </a>
    </div>
</div>
{% endblock %}